<% include partials/header %>
  <% include partials/nav %>
    <div id="cover">
      <div class="loader"></div>
    </div>
    <div class="notification">
      Simple Notification
    </div>

    <body>
      <div class="header">
        <div class="container">
          <form>
            <div class="form-row">
              <div class="col-md-8">
                <input type="text" class="form-control" placeholder="Search a keyword or a sentence">
              </div>

              <div class="col-md-4">
                <input type="submit" value="Invite Search" class=" btn btn-primary">
              </div>
            </div>
          </form>
        </div>

        <section class="job-invites">

          <% if (invites.length === 0) { %>
            <span id="no-comments" class="bg-transparent container">The world is your oyseter. Fill it.</span>
            <% } %>

              <% if (invites.length > 0) { %>
                <% for (invite of invites) { %>
                  <div class="container">
                    <h4>
                      <a href="<%='/post/'+invite.inviteId%>">
                        <%=invite.title%>
                      </a>
                    </h4>
                    <p>@
                      <%=invite.user.username%>
                    </p>
                    <p>
                      <%=invite.body%>
                    </p>
                    <span>
          <a><i class="fas fa-comment"></i> <%=invite.comments.length%></a>
          <a class="upvote-btn"><i class="fas fa-arrow-alt-circle-up"></i> Upvote</a>
        </span>

                    <span class="float-right">
          <a href="#"><i class="fab fa-facebook-f"></i></i></a>
          <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </span>
                  </div>
                  <% } %>
                    <% } %>
        </section>
      </div>
    </body>


    <% include partials/footer %>
