<% include partials/header %>
<% include partials/nav2 %>
<div id="cover">
  <div class="loader"></div>
</div>

<div class="section">
  <div class="container">
  <div class="header" id="main">
    <div class="container p-0 mb-md-4">

      <div class="alert itarj-primary d-flex justify-content-between">
        <% if (isAuth) { %>
        <span>Welcome back, <%=name%></span>
        <span>There are <b class="text-bold"><%=invites.length%></b> posts </span>
        <% } else { %>
        <span>Hello stranger, <a href="/register" class="text-bold">Register</a> here</span>
        <span>There are <b class="text-bold"><%=invites.length%></b> posts </span>
        <% } %>
      </div>
    </div>

    <section class="job-invites">
      <% if (invites.length === 0) { %>
      <span id="no-comments" class="bg-transparent container">The world is your oyseter. Fill it.</span>
      <% } %> <% if (invites.length > 0) { %> <% for (invite of invites) { %>
      <div class="container post-meta" data-inviteId="<%=invite.inviteId%>">
        <h4>
          <a href="<%='/post/'+invite.inviteId%>">
            <%=invite.title%>
          </a>
        </h4>
        <small class="text-muted"><%=invite.company%>, <em><%=invite.location%></em></small><br>
        <p>
          <a href="/users/<%=invite.user.username%>">
            @<%=invite.user.username%>
          </a>
        </p>
        <p>
          <%=invite.body%>
        </p>
        <span>
          <a><i class="fas fa-comment"></i> <%=invite.comments.length%></a>
          <a
            class="upvote-btn"
            data-inviteid="<%= invite.inviteId %>"
            data-voted="<%= invite.votes.some( (vote) => (vote.userId === userId) && (vote.type === 'up') )%>"
          >
            <i class="fas fa-arrow-alt-circle-up"></i>
            <span class="count">
              <%= invite.votes.reduce((p,vote) => (vote.type === 'up') ? ++p : p ,0) %>
            </span>
          </a>
          <a
            class="downvote-btn"
            data-inviteid="<%= invite.inviteId %>"
            data-voted="<%= invite.votes.some( (vote) => (vote.userId === userId) && (vote.type === 'down') ) %>"
          >
            <i class="fas fa-arrow-alt-circle-down"></i>
            <span class="count">
              <%= invite.votes.reduce((p,vote) => (vote.type === 'down') ? ++p : p ,0) %>
            </span>
          </a>
        </span>

        <span class="float-right share-buttons">
            <a target="_blank"
              href=" https://www.facebook.com/sharer.php?u=http://itarj.com/post/'<%=invite.inviteId%>"> 
              <i class="fab fa-facebook"></i>
            </a>
  
            <a target="_blank"
                href="https://twitter.com/intent/tweet?text=<%=invite.title+' - Is this a real job? \n Let us know: http://itarj.com/post/'+invite.inviteId%>">
                <i class="fab fa-twitter"></i></a>
  
            <a target="_blank"
                href="https://api.whatsapp.com/send?&text=<%=invite.title+' - Is this a real job? \n Let us know: http://itarj.com/post/'+invite.inviteId%>">
                <span style="color:#25D366;">
                  <i class="fab fa-whatsapp"></i>
                </span>
            </a>
          </span>
      </div>
      <% } %> <% } %>
    </section>
  </div>
  </div>
  </div>


<% include partials/footer %>
