<% include partials/header %>
<% include partials/nav %>
<div id="cover">
  <div class="loader"></div>
</div>
<div class="notification">
  Simple Notification
</div>

<body>
  <div class="header">
    <div class="container">
      <form>
        <div class="form-row">
          <div class="col-md-8">
            <input type="text" class="form-control" placeholder="Search a keyword or a sentence">
          </div>

          <div class="col-md-4">
            <input type="submit" value="Invite Search" class=" btn btn-primary">
          </div>
        </div>
      </form>
    </div>

    <section class="job-invites">

      <% if (invites.length === 0) { %>
      <span id="no-comments" class="bg-transparent container">The world is your oyseter. Fill it.</span>
      <% } %>

      <% if (invites.length > 0) { %>
      <% for (invite of invites) { %>
      <div class="container post-meta" id="<%=invite.inviteId%>">
        <h4>
          <a href="<%='/post/'+invite.inviteId%>">
            <%=invite.title%>
          </a>
        </h4>
        <p>@
          <%=invite.user.username%>
        </p>
        <p>
          <%=invite.body%>
        </p>
        <span>
          <a><i class="fas fa-comment"></i> <%=invite.comments.length%></a>
          <a class="upvote-btn"><span class="upvote-count"><%=invite.upVotes || 0 %></span> Upvotes</a>
        </span>

        <span class="float-right share-buttons">
            <!-- <a href="#"><i class="fab fa-facebook-f"></i></i></a> -->
            <a target="_blank"
              href="https://twitter.com/intent/tweet?text=<%=invite.title+' - Is this a real job? \n Let us know: http://isthisarealjob.ng/post/'+invite.inviteId%>"><i
                class="fab fa-twitter"></i></a>
            <!-- <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a> -->
            <a target="_blank"
              href="https://api.whatsapp.com/send?&text=<%=invite.title+' - Is this a real job? \n Let us know: http://isthisarealjob.ng/post/'+invite.inviteId%>"><i
                class="fab fa-whatsapp"></i></a>

          </span>
      </div>
      <% } %>
      <% } %>
    </section>
  </div>
</body>


<% include partials/footer %>
