<% include partials/header %>
<% include partials/nav2 %>
<% include partials/postComponent %>

<style>
  .verify:hover {
    border: thin solid white;
  }

  @media screen and (min-width: 1000px) {
    .job-invites-container {
      padding-left: 10vw;
      padding-right: 10vw;
    }
  }

  @media screen and (min-width: 768px) {
    .job-invites-container {
      padding-left: 5vw;
      padding-right: 5vw;
    }
  }

  .my-pagination {
    display: inline-block;
  }

  .my-pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }

  .my-pagination a.active {
    background-color: #4CAF50;
    color: white;
  }

  .my-pagination a:hover:not(.active) {
    background-color: #ddd;
  }

  .postsBtn {
    color: #24659e;
    background-color: white;
  }
</style>

<div id="cover">
  <div class="loader"></div>
</div>

<!-- Post component - Section -->

<!-- Post component - Section -->

<div class="section" id="posts-page">
  <div class="container job-invites-container">
    <div class="header" id="main">
      <div class="container p-0 mb-md-4">
        <div style="display: none;" id="user" data-userid="<%=userId%>"></div>
        <div class="alert itarj-primary d-flex justify-content-between">
          <% if (isAuth) { %>
          <span>Welcome back, <%=name%></span>
          <span>There are <b class="text-bold"><%=count%></b> posts </span>
          <% } else { %>
          <span>Hello stranger, <a href="/register" class="text-bold">Register</a> here</span>
          <span>There are <b class="text-bold"><%=count%></b> posts </span>
          <% } %>
        </div>
      </div>

      <!-- Render Posts -->
      <section class="job-invites">
        <% if (invites.length === 0) { %>
        <span id="no-comments" class="bg-transparent container">The world is your oyseter. Fill it.</span>
        <% } %> <% if (invites.length > 0) { %> <% for (invite of invites) { %>
        <!-- Render Post Component here (check partials/postComponent) -->
        <%= renderPostComponent(invite) %>
        <% } %> <% } %>
      </section>
      <!-- Render Posts -->
      <section id="pagination-bishh">
        <% if (pages > 0) { %>
        <ul class="pagination text-center mt-4">
          <% if (page == 1) { %>
          <li class="page-item disabled"><a class="page-link">First</a></li>
          <% } else { %>
          <li class="page-item"><a class="page-link" href="/posts?page=1">First</a></li>
          <% } %>
          <% var i = (Number(page) > 5 ? Number(page) - 4 : 1) %>
          <% if (i !== 1) { %>
          <li class="page-item disabled"><a>...</a></li>
          <% } %>
          <% for (; i <= (Number(page) + 4) && i <= pages; i++) { %>
          <% if (i == page) { %>
          <li class="page-item active"><a class="page-link"><%= i %></a></li>
          <% } else { %>
          <li class="page-item"><a class="page-link" href="/posts?page=<%= i %>"><%= i %></a></li>
          <% } %>
          <% if (i == Number(page) + 4 && i < pages) { %>
          <li class="page-item disabled"><a class="page-link">...</a></li>
          <% } %>
          <% } %>
          <% if (page == pages) { %>
          <li class="page-item disabled"><a class="page-link">Last</a></li>
          <% } else { %>
          <li class="page-item"><a class="page-link" href="/posts?page=<%= pages %>">Last</a></li>
          <% } %>
        </ul>
        <% } %>
      </section>
    </div>
  </div>
</div>


<% include partials/footer %>