<% include partials/header %> <% include partials/nav2 %>
<!-- Should be the first nav if unauthenticated ... -->
<div id="cover">
  <div class="loader"></div>
</div>
<div class="notification">
  Simple Notification
</div>

<body>
  <div class="header mt-4 mb-4">
    <div class="container p-md-0">
      <form action="/invites/search" method="GET">
        <div class="form-row">
          <div class="col-md-8">
            <input type="text" name="q" class="searchbar-1 form-control"
                   placeholder="Search a keyword or a sentence e.g 'Lagos'" />
          </div>

          <div class="col-md-4">
            <input type="submit" value="Invite Search" class=" btn btn-primary" />
          </div>
        </div>
      </form>
    </div>

    <!-- Small small -->
    <% if (invites.length > 0) { %>

    <div class="container">
      <p class="text-muted" style="font-size: smaller;">
        Found <b class="text-primary text-bold"><%= invites.length %></b> <%=
        invites.length > 1 ? 'posts' : 'post' %>
      </p>
    </div>

    <% } %>

    <section class="job-invites">
      <% if (invites.length === 0) { %>

      <!-- No invites -->
      <div class="card card-secondary text-center container my-4">
        No invites found :(
        <p>Create a new invite <a href="/">here</a></p>
      </div>

      <% } %> <% if (invites.length > 0) { %> <% for (invite of invites) { %>
      <div class="container post-meta p-4" id="<%=invite.inviteId%>">

        <h4>
          <a href="<%='/post/'+invite.inviteId%>">
            <%=invite.title%>
          </a>
        </h4>

        <p>
          <%=invite.body%>
        </p>

        <span class="float-right share-buttons">
            <a target="_blank"
              href=" https://www.facebook.com/sharer.php?u=http://itarj.com/post/'<%=invite.inviteId%>"> 
              <i class="fab fa-facebook"></i>
            </a>
  
            <a target="_blank"
                href="https://twitter.com/intent/tweet?text=<%=invite.title+' - Is this a real job? \n Let us know: http://itarj.com/post/'+invite.inviteId%>">
                <i class="fab fa-twitter"></i></a>
  
            <a target="_blank"
                href="https://api.whatsapp.com/send?&text=<%=invite.title+' - Is this a real job? \n Let us know: http://itarj.com/post/'+invite.inviteId%>">
                <span style="color:#25D366;">
                  <i class="fab fa-whatsapp"></i>
                </span>
            </a>
          </span>

      </div>
      <% } %> <% } %>
    </section>
  </div>
</body>

<% include partials/footer %>