<% include partials/header %>
<% include partials/nav2 %>
<% include partials/postComponent %>

<!-- Should be the first nav if unauthenticated ... -->
<div id="cover">
  <div class="loader"></div>
</div>
<div class="notification">
  Simple Notification
</div>

<div class="header container mt-4 mb-4">
  <div class="p-md-0">
    <form action="/invites/search" method="GET">
      <div class="form-row">
        <div class="col-md-8">
          <input type="text" name="q" class="searchbar-1 form-control" placeholder="Search phrase or keywords" />
          <small class="form-text text-muted">Search a phrase like "Chief Economist" (in quotes) or by keywords e.g
            Lagos, Wednesday </small>
        </div>

        <div class="col-md-4 search-btn">
          <input type="submit" value="Invite Search" class="btn btn-primary" />
        </div>
      </div>
    </form>

    <!-- Small small -->
    <% if (invites.length > 0) { %>

    <div class="">
      <p class="text-muted" style="font-size: smaller;">
        Found <b class="text-primary text-bold"><%= count %></b> <%=
          invites.length > 1 ? 'posts' : 'post' %> for <i><%= query %></i>
      </p>
    </div>

    <% } %>

    <section class="job-invites">
      <% if (invites.length === 0) { %>
      <!-- No invites -->
      <div class="card card-secondary text-center container my-4 p-3 bg-light">
        No matching invites were found 😢
        <p>Submit your invite <a href="/post">here</a>, to get feedback from the community.</p>
      </div>
      <% } %>

      <% if (invites.length > 0) { %>
      <!-- Users choice wasn't in the list -->
      <div class="card card-secondary text-center container my-4 p-3 bg-light">
        Didn't find what you were looking for?
        <p>Submit your invite <a href="/post">here</a>, to get feedback from the community.</p>
      </div>
      <% } %>

      <% if (invites.length > 0) { %>
      <% for (invite of invites) { %>

      <%= renderPostComponent(invite) %>
      <% } %>
      <% } %>
    </section>

    <!-- Pagination bishh -->
    <section id="pagination-bishh">
      <% if (pages > 0) { %>
      <ul class="pagination text-center mt-4">
        <% if (page == 1) { %>
        <li class="page-item disabled"><a class="page-link">First</a></li>
        <% } else { %>
        <li class="page-item"><a class="page-link" href="/invites/search?q=<%= query %>&page=1">First</a></li>
        <% } %>
        <% var i = (Number(page) > 5 ? Number(page) - 4 : 1) %>
        <% if (i !== 1) { %>
        <li class="page-item disabled"><a>...</a></li>
        <% } %>
        <% for (; i <= (Number(page) + 4) && i <= pages; i++) { %>
        <% if (i == page) { %>
        <li class="page-item active"><a class="page-link"><%= i %></a></li>
        <% } else { %>
        <li class="page-item"><a class="page-link" href="/invites/search?q=<%= query %>&page=<%= i %>"><%= i %></a></li>
        <% } %>
        <% if (i == Number(page) + 4 && i < pages) { %>
        <li class="page-item disabled"><a class="page-link">...</a></li>
        <% } %>
        <% } %>
        <% if (page == pages) { %>
        <li class="page-item disabled"><a class="page-link">Last</a></li>
        <% } else { %>
        <li class="page-item"><a class="page-link" href="/invites/search?q=<%= query %>&page=<%= pages %>">Last</a></li>
        <% } %>
      </ul>
      <% } %>
    </section>
  </div>
</div>



<% include partials/footer %>