<% include partials/header %>
<% include partials/nav2 %>
<% include partials/postComponent %>
<!-- Should be nav if unauthenticated... -->
<div id="cover">
  <div class="loader"></div>
</div>
<div class="section">
  <div class="container">
    <div class="header mt-5">
      <section class="job-invites">
        <!-- <div class="container mt-4 post-meta" id="<%=invite.inviteId%>" data-inviteId="<%=invite.inviteId%>" data-invite-id="<%=invite.inviteId%>">
            <span class="d-flex flex-row-reverse justify-content-between">
          <% if(userId) { %>
          <span class="dropdown">
            <% if ((invite.userId === userId) || isAdmin ) { %>
            <i class=" fas fa-ellipsis-h  dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
            </i>
            <span class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/post/<%=invite.inviteId%>/edit">Edit</a>
              <a class="dropdown-item" href="#">Delete Post </a>
            </span>
            <% } %>
              </span>
              <% } %>
                </span>

                <span>
          <h4><%=invite.title%></h4>
          <small class="text-muted"><%=invite.company%>, <em><%=invite.location%></em></small><br>
          <p class="post-author">
            Author: <a href="/users/<%=invite.user.username%>">@<%=invite.user.username%></a>
            <br>
            <span class="pt-2 d-block">Published: <%=new Date(invite.createdAt).toDateString()%></span>
                </p>
                </span>
                </span>

                <p class="post-body">
                  <%=invite.body%>
                </p>
                <% if(isAuth) {%>
                  <span>
              <a><i class="fas fa-comment"></i> <span id="comment-count"><%=comments.length%> </span></a>
                  <a class="upvote-btn" data-inviteid="<%= invite.inviteId %>" data-upvoted="<%= invite.votes.some( (vote) => (vote.userId === userId) && (vote.type === 'up') )%>">
                    <i class="fas fa-arrow-alt-circle-up"></i>
                    <span class="count">
                  <%= invite.votes.reduce((p,vote) => (vote.type === 'up') ? ++p : p ,0) %>
                </span>
                  </a>
                  <a class="downvote-btn" data-inviteid="<%= invite.inviteId %>" data-downvoted="<%= invite.votes.some( (vote) => (vote.userId === userId) && (vote.type === 'down') ) %>">
                    <i class="fas fa-arrow-alt-circle-down"></i>
                    <span class="count">
                  <%= invite.votes.reduce((p,vote) => (vote.type === 'down') ? ++p : p ,0) %>
                </span>
                  </a>
                  </span>
                  <% } else { %>
                    <span class="text-muted"><i>You have to be <a class="link" href="/login">logged</a> in to perform actions</i></span>
                    <%}%>

              <span class="float-right share-buttons">
                <a target="_blank"
                  href=" https://www.facebook.com/sharer.php?u=http://itarj.com/post/'<%=invite.inviteId%>"> 
                  <i class="fab fa-facebook"></i>
                </a>
      
                <a target="_blank"
                    href="https://twitter.com/intent/tweet?text=<%=invite.title+' - Is this a real job? \n Let us know: http://itarj.com/post/'+invite.inviteId%>">
                    <i class="fab fa-twitter"></i></a>
      
                <a target="_blank"
                    href="https://api.whatsapp.com/send?&text=<%=invite.title+' - Is this a real job? \n Let us know: http://itarj.com/post/'+invite.inviteId%>">
                    <span style="color:#25D366;">
                      <i class="fab fa-whatsapp"></i>
                    </span>
                </a>
              </span>
          </div> -->
        <%= renderPostComponent(invite) %>
        <div class="container p-0">
          <div class="form-group">
            <textarea class="form-control" id="comment-field" placeholder="Type something..." rows="3"></textarea>
          </div>
          <span class="comment-btn">
            <button type="button" class="btn btn-primary">Comment</button>
          </span>
        </div>

        <h5 class="container p-0">Comments</h5>
        <section id="comments">
          <% if (comments.length === 0) { %>
          <div id="no-comments" class="bg-transparent container">There no comments for this post.</div>
          <% } %>

          <% if (comments.length > 0) { %>
          <% for (comment of comments) { %>
          <div class="container">
            <p>
              <% if (comment.user.username) { %>
              <a href="/users/<%=comment.user.username%>">@<%=comment.user.username%></a>
              <% } else { %>
              guest
              <% } %>
            </p>
            <p>
              <%=comment.body%>
            </p>
            <p>
              <small class="text-muted"><%=new Date(comment.createdAt).toDateString()%></small>
            </p>
          </div>
          <% } %>
          <% } %>
        </section>
      </section>

    </div>
  </div>
</div>


<% include partials/footer %>