<% include partials/header %>
  <% include partials/nav2 %>
    <style>
      .overall {
        max-width: 100%;
      }
      
      .container {
        width: 100%;
        padding: 0;
        margin: 0;
      }
      
      .navigate {
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
      }
      
      .navigate h4 {
        padding-left: 40px;
        font-family: 'Raleway', sans-serif;
        color: grey;
      }
      
      .end-nav div {
        margin-left: 30%;
      }
      
      .end-nav span {
        margin-left: 20px;
      }
      
      .end-nav input {
        width: 50%;
        border: 1px solid c4c4c4;
        border-radius: 5px;
        padding-left: 40px;
        box-sizing: border-box;
        background: url('https://res.cloudinary.com/kayode/image/upload/v1570641135/icons/search_ah4hi2.svg') no-repeat left top;
      }
      
      .end-nav input:focus {
        background: 0;
        padding-left: 3px;
      }
      
      .end-nav span {
        padding-right: 10px;
      }
      
      .first-section {
        padding: 50px;
      }
      
      .first-section img {
        width: 102px;
        height: 102px;
        border-radius: 50px;
        border: 0;
      }
      
      .first-section button {
        padding: 10px 20px 10px 20px;
        border: 1px solid blue;
        border-radius: 5px;
        background: white;
        color: blue;
        margin-left: 70%;
        margin-top: 40px;
      }
      
      .post {
        width: 70%;
        margin: auto;
        padding: 10px;
      }
      
      .post h3 {
        padding-left: 50px;
        font-family: 'Raleway', sans-serif;
        ;
      }
      
      .post ul li {
        list-style-type: none;
        border: 1px solid #c4c4c4;
        padding: 20px;
        margin: 15px;
        background: #e3e9ef;
        border-radius: 3px;
      }
      
      .location {
        font-size: 10px;
        font-weight: bold;
      }
      
      .isReal {
        border-radius: 25px;
        padding-left: 20px;
        padding-right: 20px;
      }
      
      .username {
        padding-top: 5px;
      }
      
      .user {
        position: relative;
        left: 10px;
      }
      
      .end-nav-bar input {
        margin-right: 50px;
      }
      
      .end-nav-bar img {
        margin-right: 20px;
      }
      
      .end-nav-bar .initial {
        margin-right: 20px;
      }
      
      .end-nav-bar button {
        margin-right: 10px;
      }
      
      @media screen and (max-width: 450px) {
        button {
          margin-left: 0;
          margin-top: 0;
        }
      }
    </style>


    <div id="cover">
      <div class="loader"></div>
    </div>

    <div class="container overall">

      <!-------Profile Section------->

      <div class="first-section">
        <div class="row col-sm-12">
          <div class="row col-sm-6">
            <div class="col-sm-3">
              <img src="https://res.cloudinary.com/leankhan/image/upload/v1572542434/default_avatar2.png" alt="Profile-pix">
            </div>
            <div class="user col-sm-9">
              <h2 class="username">
                <%=user.name.split(" ")[0]%>
              </h2>
              <p>@
                <%=user.username%>
              </p>
            </div>
          </div>
          <div class="col-sm-6">
            <button>Edit Profile</button>
          </div>

        </div>

      </div>

      <!-------Post Section------->

      <div class="post">
        <!-- <h3>
          <%=user.Invites.length %> Posts</h3> -->
        <div class="alert itarj-primary d-flex justify-content-between">
          <% if (isAuth && user.username != username) { %>
            <span>Welcome to <%=user.name%>'s profile, </span>
            <span><%=user.name%> has <b class="text-bold"><%=user.Invites.length%></b> posts </span>
            <% } else if (isAuth && user.username === username) { %>
              <span>Welcome back</span>
              <span>You have <b class="text-bold"><%=user.Invites.length%></b> posts </span>
              <% } else { %>
                <span>Hello stranger, <a href="/register" class="text-bold">Register</a> here</span>
                <span><%=user.name%> has <b class="text-bold"><%=user.Invites.length%></b> posts </span>
                <% } %>
        </div>
        <% if (user.Invites.length === 0) { %>
          <span id="no-comments" class="bg-transparent container">The world is your oyseter. Fill it.</span>
          <% } %>

            <ul>
              <% if (user.Invites.length > 0) {%>
                <% user.Invites.forEach(invite => { %>
                  <li>
                    <span class="float-right share-buttons"><button class="btn btn-primary isReal">Real</button></span>
                    <h4>
                      <a href="<%='/post/'+invite.inviteId%>">
                        <%=invite.title%>
                      </a>
                    </h4>
                    <small class="location"><%=invite.location %> </small>
                    <% if(invite.body.length < 40) {%>
                      <p>
                        <%=invite.body%> <a href="<%='/post/'+invite.inviteId%>">....Read more</a></p>
                      <% } else { %>
                        <p>
                          <%=invite.body.substr(0, 200)%> <a href="<%='/post/'+invite.inviteId%>">....Read more</a>
                        </p>
                        <% }%>
                          <span>
          <a>
            <img src="https://res.cloudinary.com/kayode/image/upload/v1572411991/cars/comment_gpmq5c.svg" alt="">
            <span class="upvote-count">
              0
            </span>
                          </a>
                          <a>
                            <img src="https://res.cloudinary.com/kayode/image/upload/v1572411991/cars/upVotes_reeuc3.svg" alt="">
                            <span>
              <%=invite.upVotes || 0 %>
            </span>
                          </a>
                          <a>
                            <img src="https://res.cloudinary.com/kayode/image/upload/v1572411991/cars/downVotes_zajtop.svg" alt="">
                            <span>
              0
            </span>
                          </a>
                          </span>

                          <span class="float-right share-buttons">
          <!-- <a href="#"><i class="fab fa-facebook-f"></i></i></a> -->
          <a target="_blank"
             href="https://twitter.com/intent/tweet?text=<%=invite.title+' - Is this a real job? \n Let us know: http://isthisarealjob.ng/post/'+invite.inviteId%>"><i
               class="fab fa-twitter"></i></a>
          <!-- <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a> -->
          <a target="_blank"
             href="https://api.whatsapp.com/send?&text=<%=invite.title+' - Is this a real job? \n Let us know: http://isthisarealjob.ng/post/'+invite.inviteId%>"><i
               class="fab fa-whatsapp"></i></a>

        </span>
                  </li>
                  <% }) %>
                    <% } %>
            </ul>
      </div>
    </div>
    <% include partials/footer %>
