<% include ../partials/header %>
  <% include ../partials/nav2 %>
    <style>
      h3 {
        color: #636B6F;
      }
      
      .dashboard {
        display: inline-block;
      }
      
      .dashboard-tab li {
        list-style: none;
        margin: 1em;
      }
      
      .dashboard-tab-items a {
        text-decoration: none;
      }
      
      .dtab-margin {
        margin-bottom: 20px;
      }
      
      .users-list-color {
        background-color: #E3E9EF;
        padding: 20px;
        margin-bottom: 20px;
      }
      
      .users-list-plain {
        background-color: #fff;
        padding: 20px;
        margin-bottom: 20px;
      }
      
      .user-avatar {
        width: 110px;
        height: 105px;
        border-radius: 50px;
      }
      
      .block a {
        text-decoration: none;
      }
      
      .block-btn {
        text-decoration: none;
        width: 80px;
        display: block;
        text-align: center;
        padding: 3px;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.089);
        border: 1px solid #3087d1;
        color: #3087d1;
      }
      
      .block-btn:hover {
        background-color: #3087d1;
        color: #fff;
        transition: .5s ease-out;
      }
      
      .block-btn-blue {
        border: 1px solid red;
        color: red;
      }
      
      .block-btn-blue:hover {
        background-color: red;
        color: #fff;
        transition: .5s ease-out;
      }
      
      @media screen and (max-width: 991px) {
        .block-btn {
          margin: 0;
          width: 40%;
          margin: 0 auto;
        }
        .users-list {
          text-align: center;
        }
        .dashboard-tab {
          display: flex;
          justify-content: space-between;
        }
      }
      
      @media screen and (max-width: 799px) {
        .users-list {
          width: 500px;
        }
        .user-container {
          margin-left: 100px;
        }
      }
      
      @media screen and (max-width: 600px) {
        .users-list {
          width: 400px;
        }
      }
      
      @media screen and (max-width: 500px) {
        .users-list {
          width: 300px;
        }
        .user-container {
          margin-left: 40px;
        }
        .navbar-brand {
          font-size: 24px;
        }
        h3 {
          font-size: 27px;
        }
      }
      
      @media screen and (max-width: 400px) {
        .users-list {
          width: 250px;
        }
        .user-container {
          margin-left: 35px;
        }
      }
    </style>
    <div id="cover">
      <div class="loader"></div>
    </div>
    <!-- <div class="notification">
      Simple Notification
    </div> -->
    <div class="section" style="margin-top: 2em;">
      <div class="container user-container">
        <div class="row">
          <div class="col-lg-4">
            <section class="users">
              <div class="dashboard">
                <a href="/admin" style="text-decoration: none;">
                  <h4 dashboard> Dashboard</h4>
                </a>
                <!-- DASHBOARD TABS -->
                <ul class="dashboard-tab">
                  <li class="dashboard-tab-items dtab-margin">
                    <a href="/admin/users">Users</a>
                  </li>
                  <li class="dashboard-tab-items dtab-margin">
                    <a href="/admin/posts">Posts</a>
                  </li>
                  <li class="dashboard-tab-items dtab-margin">
                <a href="/admin/reportedusers">Reported</a>
              </li>
                </ul>
              </div>
          </div>

          <!-- Define things -->
          <% const createHash = (email) => { return crypto.createHash('md5').update(email.trim()).digest('hex')} %>
            <% const getGravatar = (email) => { return `https://www.gravatar.com/avatar/${createHash(email)}?d=identicon` } %>


              <!-- USERS LIST -->
              <div class="col-lg-8 users-section">
                <% if (reports.length === 0) { %>
                  <span id="no-users" class="bg-transparent container">The world is your oyseter. Fill it.</span>
                  <% } %>

                    <% if (reports.length > 0) { %>
                      <% for (report of reports) { %>
                        <!-- NEW USER -->
                        <div class="row users-list users-list-color">
                          <div class="col-lg-12">
                            <div class="row">
                              <!-- USER AVATAR HERE -->
                              <input type="hidden" class=".inviteId" value="<%=report.offender.userId%>" />
                              <div class="col-lg-3 user-avatar-container">
                                <img class="user-avatar" src="<%=report.offender.profileImage || getGravatar(report.offender.email) %>" alt="">
                              </div>
                              <!-- USER NAME & HANDLE HERE -->
                              <div class="col-lg-9">
                                <h5 class="user-name">
                                  <%=report.offender.name%>
                                </h5>
                                <p class="user-handle">
                                  <%=report.offender.username%>
                                </p>
                                <p class="user-handle">
                                  Offence:
                                  <%=report.offence%>
                                </p>
                                <a class="block-btn <%=report.offender.isBlocked ? '' : ' block-btn-blue'%>" href="">
                                  <%=report.offender.isBlocked ? 'Unblock' : 'Block'%>
                            </a>
                              </div>
                            </div>
                          </div>
                        </div>

                        <% } %>
                          <% } %>
              </div>
        </div>
      </div>
      </section>

      <% include ../partials/footer %>
